<div class="table week-daily">
  <header class="table-row flex">
    <div class="table-cell week-daily-empty"></div>
    <div
      *ngFor="let day of viewWeekDays"
      class="table-cell text-center week-daily-day"
      [ngClass]="{ 'week-daily-active': day.isDate(currentDate) }"
    >
      <span class="block">{{ day.dayInWeek.abbrv }}</span>
      <span class="block text-sm">{{ day.displayDate }}</span>
    </div>
  </header>
  <div>
    <app-data-loader
      [data]="chores"
      (dataLoaderComponentReload)="weekTableReload.emit()"
    >
      <ng-container *ngFor="let chore of chores">
        <div class="table-row week-daily-item flex">
          <div class="table-cell flex items-center relative week-daily-chore">
            {{ chore.name }}
            <button
              (click)="weekTableUpdateChore.emit(chore)"
              class="absolute top-0 right-0 btn-svg btn-edit"
            >
              <img class="btn-svg-icon-full" src="assets/svgs/edit.svg" />
            </button>
          </div>
          <div
            *ngFor="let day of viewWeekDays"
            class="table-cell flex justify-center items-center week-daily-check"
            [ngClass]="{ 'week-daily-active': day.isDate(currentDate) }"
          >
            <app-check-box
              [isDisabled]="
                (!!chore.startDate && day.date < chore.startDate) ||
                (!!chore.endDate && day.date > chore.endDate)
              "
              [isChecked]="chore.isDoneIn(day.date)"
              (checkBoxToggled)="updateChoreStatus(chore.id, day.date, $event)"
            ></app-check-box>
          </div>
        </div>
      </ng-container>
    </app-data-loader>
  </div>
</div>
