.week-daily {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  overflow-x: auto;
}

.week-daily-empty,
.week-daily-chore {
  flex: 2;
  flex-basis: 10rem;
  flex-shrink: 0;
}

.week-daily-day,
.week-daily-check {
  flex: 1;
  flex-basis: 6rem;
  flex-shrink: 0;

  &.week-daily-active {
    background-color: #fbffdc;
  }
}

.week-daily-day {
  padding: 1rem;
}

.week-daily-chore {
  padding: 0 0.5rem;
}

.week-daily-item {
  height: 4rem;
}

.btn-edit {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d2d2d2;
  background-color: #ececec;
  opacity: 0.5;
  padding: 0.15rem;

  &:hover {
    opacity: 1;
  }
}
