<div class="flex justify-between items-center week-daily-toolbar">
  <div class="flex items-center week-daily-toolbar-left">
    <button
      (click)="navigateWeekByStep(-1)"
      class="btn-svg btn-toolbar btn-toolbar-border btn-arrow"
    >
      <img class="btn-svg-icon-full" src="assets/svgs/arrow-left.svg" />
    </button>
    <button
      (click)="navigateWeekByStep(1)"
      class="btn-svg btn-toolbar btn-toolbar-border btn-arrow"
    >
      <img class="btn-svg-icon-full" src="assets/svgs/arrow-right.svg" />
    </button>
    <button
      *ngIf="!isSameDate(currentDate, viewDate)"
      class="btn-svg btn-toolbar btn-navigate-reset"
      (click)="weekNavigationBarNavigated.emit(currentDate)"
    >
      <img class="btn-svg-icon-full" src="assets/svgs/navigate-reset.svg" />
    </button>
  </div>
  <span class="font-bold">{{ viewDate.getFullYear() }}</span>
  <div class="flex items-center week-daily-toolbar-right">
    <button class="btn-svg btn-toolbar btn-list">
      <img class="btn-svg-icon-full" src="assets/svgs/list.svg" />
    </button>
    <button
      (click)="weekNavigationBarAddChore.emit()"
      class="btn-svg btn-toolbar btn-toolbar-border btn-add"
    >
      <img class="btn-svg-icon-full" src="assets/svgs/add.svg" />
    </button>
  </div>
</div>
