.week-daily-toolbar {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  margin-bottom: 0.5rem;

  .btn-toolbar {
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.45rem;
  }

  .btn-toolbar-border {
    border: 1px solid #bbbbbb;
  }

  .btn-arrow {
    padding: 0.5rem;
    opacity: 0.65;
  }

  .btn-list {
    margin-right: 0.25rem;
  }

  .btn-navigate-reset {
    margin-left: 0.5rem;
    padding: 0.35rem;
    opacity: 0.75;
  }
}

.week-daily-toolbar-left,
.week-daily-toolbar-right {
  padding: 0.25rem;
}
