.check-box {
  width: 1rem;
  height: 1rem;
  border: 1px solid #828282;
  border-radius: 2px;

  &.check-box-checked,
  &.check-box-disabled {
    border-color: transparent;
  }

  &.check-box-checked {
    background-color: #0075ff;
  }

  &.check-box-disabled {
    background-color: #d1d1d1;
  }
}
