<div class="check-box-container">
  <button
    class="cursor-pointer check-box"
    (click)="toggle()"
    [disabled]="isDisabled"
    [ngClass]="{
      'check-box-checked': checkedValue,
      'check-box-disabled': isDisabled
    }"
  ></button>
  <input [(ngModel)]="checkedValue" type="checkbox" class="hidden" />
</div>
