<div
  class="ipt-text-container date-picker-container"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
>
  <input
    [disabled]="disabled"
    [placeholder]="placeholder"
    type="text"
    class="ipt-text"
  />
  <button (click)="toggleCalendar()" class="date-picker-button">
    <img src="assets/svgs/calendar.svg" class="date-picker-icon" />
  </button>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isCalendarOpened"
>
  <app-calendar></app-calendar>
</ng-template>
