.date-picker-container {
  position: relative;

  input {
    padding-right: 2rem;
  }

  .date-picker-button {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    padding: 0.5rem;

    .date-picker-icon {
      width: 100%;
      height: 100%;
    }
  }
}
