.calendar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0;

  .calendar-arrow {
    width: 0.5rem;
    margin-left: 0.25rem;
  }

  .calendar-navigator {
    display: flex;
  }
}
