<div class="calendar-menu">
  <button (click)="iterateCalendarState()" class="btn-icon-text">
    <span>{{ periodText }}</span>
    <img
      [src]="
        datePickerService.calendarState === CalendarState.Daily
          ? 'assets/svgs/arrow-down.svg'
          : 'assets/svgs/arrow-up.svg'
      "
      class="calendar-arrow"
    />
  </button>
  <div class="calendar-navigator">
    <button
      *ngIf="!isSamePeriod()"
      (click)="navigatePeriodReset()"
      class="btn-icon"
    >
      <img class="icon" src="assets/svgs/navigate-reset.svg" />
    </button>
    <button (click)="navigatePeriodByStep(-1)" class="btn-icon">
      <img class="icon" src="assets/svgs/arrow-left.svg" />
    </button>
    <button (click)="navigatePeriodByStep(1)" class="btn-icon">
      <img class="icon" src="assets/svgs/arrow-right.svg" />
    </button>
  </div>
</div>
