<!-- TODO: Update UI -->
<div *ngIf="data === null" class="w-full h-full flex-center">
  <button (click)="dataLoaderComponentReload.emit()" type="button">
    Retry
  </button>
</div>
<ng-container *ngIf="data">
  <ng-content></ng-content>
</ng-container>
