@import "../date-picker.component.scss";

thead,
tbody {
  line-height: 1rem;
}

th,
td {
  text-align: center;
}

th.calendar-daily-header-cell {
  padding-bottom: 0.25rem;
}

tbody.calendar-daily-body {
  td.calendar-daily-body-cell {
    width: 2.25rem;

    button.calendar-daily-body-cell-content {
      height: 2.25rem;
    }

    .calendar-daily-body-cell-content {
      width: 100%;
      height: 100%;
      padding: 0.625rem 0.25rem;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;

      &.calendar-daily-body-cell-today {
        border-color: rgba(0, 0, 0, 0.24);
      }
    }
  }
}
