<table class="calendar-table">
  <thead class="calendar-daily-header">
    <tr>
      <th *ngFor="let day of DAYS_IN_WEEK" class="calendar-daily-header-cell">
        <abbr>{{ day.twoLetters }}</abbr>
      </th>
    </tr>
    <tr>
      <th class="calendar-header-divider" colspan="7"></th>
    </tr>
  </thead>
  <tbody class="calendar-daily-body">
    <tr *ngFor="let row of [].constructor(6); let rowIndex = index">
      <td
        *ngFor="let column of DAYS_IN_WEEK; let columnIndex = index"
        class="calendar-daily-body-cell"
      >
        <button
          *ngIf="shouldShowDay(rowIndex, columnIndex)"
          class="calendar-daily-body-cell-content"
          [ngClass]="{
            'calendar-daily-body-cell-today': isCurrentDay(
              rowIndex,
              columnIndex
            )
          }"
        >
          <span>
            {{ getDayInMonth(rowIndex, columnIndex) }}
          </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
