<div class="flex-column h-full overflow-hidden">
  <div>
    <nav class="nav-bar flex-between-center">
      <div class="flex-1 flex items-center nav-bar-left">
        <a class="text-logo" href="/home">Home</a>
        <div class="flex-1">
          <app-search-bar></app-search-bar>
        </div>
      </div>
      <div class="flex-1 flex items-center justify-end nav-bar-right">
        <button class="btn-svg btn-notification">
          <img
            class="btn-svg-icon-height"
            src="assets/svgs/notification-empty.svg"
          />
        </button>
        <button class="btn-account"></button>
      </div>
    </nav>
  </div>
  <div class="flex-1 app-content">
    <router-outlet></router-outlet>
  </div>
</div>
