.nav-bar {
  background-color: #434343;
  padding: 0 2rem;
  min-height: 3.25rem;

  &-left {
    padding-right: 1rem;
  }

  &-right {
    padding: 0.5rem 0;
  }
}

.text-logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.btn-notification {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 1rem;
  padding: 0.375rem 0px;
}

.btn-account {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
