<!-- TODO: Update UI -->
<div class="px-4 chore-form-container">
  <div class="text-center py-4">
    <h3>Chore</h3>
  </div>
  <form [formGroup]="choreEditForm" (ngSubmit)="handleSubmit()">
    <app-input-text formControlName="name" placeholder="Name"></app-input-text>
    <div class="mt-2">
      <app-date-picker></app-date-picker>
    </div>
    <input
      formControlName="startDate"
      type="date"
      placeholder="Start Date"
    /><br />
    <input formControlName="endDate" type="date" placeholder="End Date" /><br />
    <div class="flex mx-n1 pt-3 pb-4">
      <div class="w-full px-1 mt-1">
        <button
          [disabled]="!choreEditForm.valid"
          type="submit"
          class="btn-primary w-full"
        >
          {{ !!chore ? "Save" : "Add" }}
        </button>
      </div>
      <div class="w-full px-1 mt-1">
        <button
          (click)="dialogRef.close()"
          type="button"
          class="btn-default w-full"
        >
          Close
        </button>
      </div>
    </div>
  </form>
</div>
