@import "../date-picker.component.scss";

td {
  text-align: center;

  button.calendar-yearly-body-cell-content {
    width: 100%;
    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin: 0.15rem 0;

    &.calendar-yearly-body-cell-today {
      border-color: rgba(0, 0, 0, 0.24);
    }

    &.calendar-yearly-body-cell-viewing {
      font-weight: bold;
    }
  }
}
