<table class="calendar-table">
  <thead>
    <tr>
      <th class="calendar-header-divider" colspan="7"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of years; let rowIndex = index">
      <td *ngFor="let year of years[rowIndex]">
        <button
          (click)="selectYear(year)"
          class="calendar-yearly-body-cell-content"
          [ngClass]="{
            'calendar-yearly-body-cell-today':
              year === datePickerService.currentYear,
            'calendar-yearly-body-cell-viewing':
              year === datePickerService.viewYear
          }"
        >
          <span>{{ year }}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
