<div class="h-full week-daily-page">
  <app-week-navigation-bar
    [currentDate]="currentDate"
    [viewDate]="viewDate"
    (weekNavigationBarNavigated)="navigateWeek($event)"
    (weekNavigationBarAddChore)="handleEditChore($event)"
  ></app-week-navigation-bar>
  <div class="week-daily-list">
    <app-week-table
      [viewWeekDays]="viewWeekDays"
      [currentDate]="currentDate"
      [chores]="chores"
      (weekTableUpdateChoreStatus)="handleCheckBoxToggled($event)"
      (weekTableUpdateChore)="handleEditChore($event)"
      (weekTableReload)="fetchWeekChores()"
    ></app-week-table>
  </div>
</div>
