table.calendar-table {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  border-spacing: 0;

  .calendar-header-divider {
    position: relative;
    padding-bottom: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -0.5rem;
      right: -0.5rem;
      height: 1px;
      background: rgba(0, 0, 0, 0.12);
    }
  }
}
