.search-bar {
  height: 2rem;

  .btn-search {
    width: 2rem;
    padding: 0.5rem;
  }

  .ipt-search {
    padding: 0 0 0 2rem;
    transition: font-size 0.05s ease;

    &.ipt-search-filled {
      padding-right: 1.5rem;
    }
  }

  .btn-clear {
    width: 1.5rem;
    padding: 0.6875rem 0.4375rem;
  }
}
