<form (ngSubmit)="onSubmit()" class="w-full relative search-bar">
  <button
    class="h-full absolute top-0 bottom-0 left-0 btn-svg btn-search"
    type="submit"
  >
    <img class="btn-svg-icon-full" src="assets/svgs/search.svg" />
  </button>
  <input
    type="text"
    [(ngModel)]="searchValue"
    name="value"
    class="w-full h-full ipt-search"
    [ngClass]="{ 'ipt-search-filled': !!searchValue }"
    placeholder="Search"
  />
  <button
    *ngIf="!!searchValue"
    (click)="clear()"
    class="h-full absolute top-0 right-0 bottom-0 btn-svg btn-clear"
    type="button"
  >
    <img class="btn-svg-icon-full" src="assets/svgs/clear.svg" />
  </button>
</form>
