@import "~@angular/cdk/overlay-prebuilt.css";
@import "assets/styles/reset";
@import "assets/styles/utilities/style";

html,
body {
  // layout
  width: 100%;
  height: 100%;

  // content
  overflow: hidden;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #000000;
}

a {
  color: #000000;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 3px;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.btn-icon {
    width: 1.75rem;
    height: 1.75rem;

    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &.btn-icon-text {
    height: 2rem;

    > * {
      vertical-align: middle;
    }
  }

  &.btn-svg {
    .btn-svg-icon-full {
      display: block;
      width: 100%;
      height: 100%;
    }

    .btn-svg-icon-height {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  &.btn-primary {
    background-color: #385bdc;
    color: #ffffff;
  }

  &.btn-default {
    box-shadow: 0 0 0 1px inset #555;
    background-color: #ffffff;
    color: #333;
  }
}

.ipt-text-container {
  width: 15rem;

  input {
    &.ipt-text {
      border: 2px solid #7a7a7a;
      border-radius: 3px;
      padding: 0.5rem;
      width: 100%;
      font-size: 1rem;
      line-height: 1rem;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 1px inset #8b8b8b;
      }
    }
  }
}

.table {
  .table-header,
  .table-row:not(:last-child) {
    .table-cell {
      border-bottom: 1px solid #dbdbdb;
    }
  }

  .table-cell {
    &:not(:first-child) {
      border-left: 1px solid #dbdbdb;
    }
  }
}
