* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
}

input {
  border: none;
}

th,
td {
  padding: 0;
}
