<div class="calendar-container">
  <div class="calendar-header">
    <app-calendar-menu></app-calendar-menu>
  </div>
  <div class="calendar-content">
    <ng-container [ngSwitch]="datePickerService.calendarState">
      <app-calendar-daily
        *ngSwitchCase="CalendarState.Daily"
      ></app-calendar-daily>
      <app-calendar-yearly
        *ngSwitchCase="CalendarState.Yearly"
      ></app-calendar-yearly>
    </ng-container>
  </div>
</div>
