$calendar-cell-size: 2.25rem;
$calendar-padding: 0.5rem;
$calendar-width: $calendar-cell-size * 7 + $calendar-padding * 2;
$calendar-height: 19rem;

.calendar-container {
  width: $calendar-width;
  height: $calendar-height;
  background-color: #ffffff;
  box-shadow: 0px 1px 7px 0px #656565;
  border-radius: 3px;

  .calendar-content {
    margin-top: 0.5rem;
  }
}
