.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@mixin trbl($amount: 0) {
  $value: #{$amount}px;

  .top-#{$amount} {
    top: $value;
  }
  .right-#{$amount} {
    right: $value;
  }
  .bottom-#{$amount} {
    bottom: $value;
  }
  .left-#{$amount} {
    left: $value;
  }

  .inset-#{$amount} {
    top: $value;
    right: $value;
    bottom: $value;
    left: $value;
  }
}

@include trbl(0);
