@mixin spacing($property, $abbrv, $amount) {
  $value: #{$amount * 0.25rem};

  .#{$abbrv}-#{$amount} {
    #{$property}: $value;
  }

  .#{$abbrv}x-#{$amount} {
    #{$property}-left: $value;
    #{$property}-right: $value;
  }

  .#{$abbrv}y-#{$amount} {
    #{$property}-top: $value;
    #{$property}-bottom: $value;
  }

  .#{$abbrv}t-#{$amount} {
    #{$property}-top: $value;
  }

  .#{$abbrv}l-#{$amount} {
    #{$property}-left: $value;
  }

  .#{$abbrv}b-#{$amount} {
    #{$property}-bottom: $value;
  }

  .#{$abbrv}r-#{$amount} {
    #{$property}-right: $value;
  }
}

/* Start of "padding" */
@include spacing("padding", "p", 1);

@include spacing("padding", "p", 2);

@include spacing("padding", "p", 3);

@include spacing("padding", "p", 4);
/* End of "padding" */

/* Start of "margin" */
@include spacing("margin", "m", 1);

@include spacing("margin", "m", 2);

@include spacing("margin", "m", 4);
/* End of "margin" */
