@import "./display";
@import "./flex";
@import "./overflow";
@import "./positions";
@import "./spacing";
@import "./text";

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/* Start of "cursor" */
.cursor-pointer {
  cursor: pointer;
}
/* End of "cursor" */
